<nav class="admin-menu"  ng-init="getAll();">
	<ul>
		<li class="other">
			<a href="#/users">Pesquisar Usuários</a>
		</li>
		<li class="current">
			<a>Adicionar Usuário</a>
		</li>
	</ul>
</nav>


<section id="settings-sub-content" class="animated fadeIn">
	<div class="media">
		<div class="img-polaroid pull-left">
			<div class="media-object">
				<div id="upload-thumb">
				</div>
				<img src="http://sambavideos.sambatech.com/stylesheets/modules/img/placeholder-profile-thumbnail.png">
			</div>
		</div>
		<div class="media-body">
			<span class="label label-info">Usuário</span>
			<h2 ng-bind="form.name" class="media-heading">Developer 01</h2>
			<address ng-bind="form.email" >developer.rw01@gmail.com</address>
		</div>
	</div>
	<form>
		<div class="span4">
			<div class="control-group">
				<label for="first_name"><b>Primeiro Nome</b></label>
				<input required name="first_name" ng-model='form.first_name' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label for="last_name"><b>Último Nome</b></label>
				<input required id="last_name" ng-model='form.last_name' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label for="job_title"><b>Cargo</b></label>
				<input required id="job_title" ng-model='form.job_title' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label for="formName"><b>E-Mail</b></label>
				<input required id="formName" ng-model='form.email' type="email" class="span4 input-large">
			</div>

			<div class="control-group">
				<label><b>Empresa</b></label>
				<select class="span4" required ng-model='form.company_id' ng-init="getCompanies()" name="company" id="company_name">
					<option value="">Selecione uma empresa</option>
					<option ng-repeat="company in companies" id="{{company.id}}" value="{{company.id}}">{{company.name}}</option>
				</select>
			</div>
		</div>
		<div class="span4">
			<div class="control-group">
				<label for="phone_number"><b>Telefone</b></label>
				<input id="phone_number" ng-model='form.phone_number' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label for="fax_number"><b>Fax</b></label>
				<input id="fax_number" ng-model='form.fax_number' type="text" class="span4 input-large">
			</div>
			<div class="control-group">
				<label><b>Senha</b></label>
				<input required name="password" id="new_password" type="password" class="span4 input-large" ng-model='form.pass'>
			</div>
			<div class="control-group">
				<label><b>Confirmar senha</b></label>
				<input required type="password" class="span4 input-large" name="repeatPassword">
			</div>
		</div>
		<div class="form-actions" style="display: table;width: 97%;">
			<div class="pull-right">
				<a type="button" class="btn btn-link cancel" href="#users">Cancelar</a>
				<button ng-disabled="!form.email || !form.company_id || !form.pass || !form.first_name" type="button" ng-click="addUser()" class="btn btn-primary">Adicionar</button>
			</div>
		</div>
	</form>
</section>
