<div class="row row-correct" ng-show="categorySelected">
	<h6 style="margin-left:5px;">
		<strong><a href="#">Publicação em Newsource</a></strong>
	</h6>
	<section id="settings-sub-content" class="animated fadeIn">
		<div class="media" >
			<div class="img-polaroid pull-left" style="margin-left:5px; width:190px">
				<div class="media-object">
					<img ng-src="{{content.thumb_small_url}}"  width="190" alt="">
				</div>
			</div>
			<div class="media-body">
				<span class="label label-info">
					Category 
					<span ng-show="content.category_id == config.sambavideos.categories.hardnews_id">Hard News</span>
					<span ng-show="content.category_id == config.sambavideos.categories.archive_id">Archive</span>
					<span ng-show="content.category_id == config.sambavideos.categories.compilations_id">Compilation</span>
				</span>
				<h3 class="media-heading">{{content.title}}</h3>
			</div>
		</div>

		<!-- SECTION CATEGORY -->
		<section>
			<div class="span5">
				<div class="control-group">
					<h3>Vincular Subcategoria</h3>
				</div>
				<div class="control-group">
					<table class="table table-condensed table-hover">
					  <tbody>
					    <tr ng-repeat="contentSubCat in contentSubCats">
					      	<!-- td><input type="checkbox" ></td-->
					      	<td>{{contentSubCat.name}}</td>
					      	<td><a ng-click="removeSubcategories($index)" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>

				<div class="control-group content-section-holder">
					<br />
					<label for="formName"><b>Adicionar novo</b></label>
					<hr />
					<input type="text" ng-model="selectedSubCat" typeahead="subcategory.name for subcategory in subcategories | filter:$viewValue | limitTo:10">
					<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat)" >Adicionar</button>
				</div>

			</div>
			<div class="span6 pull-right" >
				<div class="control-group content-public-holder">
					<h3>Conteúdo Aberto:</h3>
					<label class="checkbox">
				    	 <input type="checkbox" ng-model="content.public">
				    </label>
				</div>
			</div>


			<div class="form-actions" style="display: table;width: 97%;">
				<div class="pull-right">
					<!-- button type="button" class="btn btn-link cancel">Cancelar</button-->
				</div>
			</div>
		</section>


		<!-- SECURITYGROUPS -->
		<section>
			<div class="span5">
				<div class="control-group">
					<h3>Publicação Direcionada</h3>
				</div>
				<div class="control-group">
					<table class="table table-condensed table-hover">
					  <tbody>
					    <tr ng-repeat="contentSecGroup in contentSecGroups">
					      	<!-- td><input type="checkbox" ></td-->
					      	<td>{{contentSecGroup.name}}</td>
					      	<td><a ng-click="removeSecGroup($index)" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>

				<div class="control-group content-section-holder">
					<br />
					<label for="formName"><b>Adicionar novo</b></label>
					<hr />
					<input type="text" ng-model="selectedSecGroup" typeahead="securitygroup.name for securitygroup in securitygroups | filter:$viewValue | limitTo:20 ">
					<button class="btn pull-right" type="button" ng-click="pushSecGroup(selectedSecGroup)" >Adicionar</button>
				</div>

			</div>

			<div class="form-actions" style="display: table;width: 97%;">
				<div class="pull-right">
					<!-- button type="button" class="btn btn-link cancel">Cancelar</button-->
					<button type="button" ng-click="save(content)" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</section>
	</section>
</div>
<section ng-show="!content && !categorySelected">
	<div class="alert alert-error">
	  Antes de publicar no Newsource, um vídeo deve estar vinculado a uma categoria
	</div>
</section>