<nav class="admin-menu" ng-init="getCompany();">
	<ul>
		<li class="other">
			<a href="/admin/app/#/companies" ng-click="getAll()">Pesquisar Empresas</a>
		</li>
		<li class="current">
			<a>Editar Empresa</a>
		</li>
	</ul>
</nav>
<section ng-init('getSubcategories()') id="settings-sub-content" class="animated fadeIn">

	<div class="row">
		<div class="span10">
			<div class="media">
				<div class="img-polaroid pull-left">
					<div class="media-object">
						<div id="upload-thumb">

						</div>
						<img src="http://sambavideos.sambatech.com/stylesheets/modules/img/placeholder-profile-thumbnail.png">
					</div>
				</div>
				<div class="media-body">
					<!--<span class="label label-info">Profissão</span>-->
					<h2 class="media-heading" ng-bind="company.name">Empresa 01</h2>
					<!--<address>developer.rw01@gmail.com</address>-->
				</div>

				<div class="control-group">

					<label class="checkbox">
				    	<input  id="pending" name="pending" type="checkbox" ng-model="company.pending"> 
				    	<span class="label label-important" ng-show="company.pending">Pendente</span>
				    	<span class="label label-success" ng-show="!company.pending">Aprovada</span>
				    </label>
				</div>
			</div>

			<form class="span10">
				<div class="grid-wrapper-5 first">
					<div class="control-group">
						<!-- Registered Company Name -->
						<label class="control-label" for="registered_name">Registered Company Name</label>
						<div class="controls">
							<input type="text" id="registered_name" name="registered_name" ng-model="company.name" placeholder="" class="input-xlarge span4" required>
						</div>
					</div>

					<div class="control-group">
						<!-- Trade Name -->
						<label class="control-label" for="trade_name">Trade Name</label>
						<div class="controls">
							<input type="text" id="trade_name" name="trade_name" ng-model="company.trade_name" placeholder="" class="input-xlarge span4" >
						</div>
					</div>

					<div class="control-group">
						<!-- Street Address -->
						<label class="control-label" for="street_address">Street Address</label>
						<div class="controls">
							<input type="text" id="street_address" name="street_address" ng-model="company.address" placeholder="" class="input-xlarge span4">
						</div>
					</div>

					<div class="control-group">
						<!-- City -->
						<label class="control-label" for="city">City</label>
						<div class="controls">
							<input type="text" id="city" name="city" ng-model="company.city" placeholder="" class="input-xlarge span4">
						</div>
					</div>
					
					<div class="control-group">
						<!-- State -->
						<label class="control-label" for="state">State</label>
						<div class="controls">
							<input type="text" id="state" name="state" ng-model="company.state" placeholder="" class="input-xlarge span4">
						</div>
					</div>

				</div>

				<div class="grid-wrapper-5">
					<div class="control-group">
						<!-- TIN(CNPJ) -->
						<label class="control-label" for="cnpj">TIN(CNPJ)</label>
						<div class="controls">
							<input type="text" id="cnpj" name="cnpj" ng-model="company.cnpj" placeholder="" class="input-xlarge span4">
						</div>
					</div>

					<div class="control-group">
						<!-- Postal Code (ZIP) -->
						<label class="control-label" for="postal_code">Postal Code (ZIP)</label>
						<div class="controls">
							<input type="text" id="postal_code" name="postal_code" ng-model="company.postal_code" placeholder="" class="input-xlarge span4">
						</div>
					</div>

					<div class="control-group">
						<!-- Country -->
						<label class="control-label" for="country">Country</label>
						<div class="controls">
							<country-select class="span4" data-ng-model="company.country"></country-select>
						</div>
					</div>

					<div class="control-group">
						<!-- Primary Activity -->
						<label class="control-label" for="primaryActive">What is your company's primary activity ?</label>
						<div class="controls">
							<select 
								id="primaryActive" class="span4" 
								ng-model="company.primary_active" 
								name="primaryActive" 
								ng-options="pa for pa in primaryActivities">
							</select>
						</div>
					</div>

					<div class="control-group">
						<label><b>Company Group</b></label>
						<select
							required="required" 
							class="span4"
							ng-model="company.company_group_id" 
							ng-init="getGroups()"
							name="group"
							id="company_name"
							ng-options="group.id as group.name for group in groups">
						</select>
					</div>

				</div>
				</div>
			</form>
		</div>
	</div>


	<div class="row">
		<div class="span10">
			<div class="control-group">
				<h3>Contatos</h3>
			</div>
			<nav class="company-menu-contato">
				<ul>
					<li class="current_first tech">
						<a>Tecnico</a>
					</li>
					<li class="other finan">
						<a>Financeiro</a>
					</li>
					<li class="other journ">
						<a>Jornalismo</a>
					</li>
					<li class="other espor">
						<a>Esportes</a>
					</li>
				</ul>
			</nav>
			<div class="contacts">
				<div id="tech" class="span4">
					<h2>Contato Tecnico</h2>
					<form>
						<div class="grid-wrapper-6 first">
							<div class="control-group">
								<!-- First Name -->
								<label class="control-label" for="technical_first_name">First Name</label>
								<div class="controls">
									<input type="text" id="technical_first_name" name="technical_first_name" ng-model="company.technical_first_name" placeholder="" class="input-xlarge span5" required>
								</div>
							</div>

							<div class="control-group">
								<!-- Last Name -->
								<label class="control-label" for="technical_last_name">Last Name</label>
								<div class="controls">
									<input type="text" id="technical_last_name" name="technical_last_name" ng-model="company.technical_last_name" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Email -->
								<label class="control-label" for="technical_email">E-Mail</label>
								<div class="controls">
									<input type="email" id="technical_email" name="technical_email" ng-model="company.technical_email" placeholder="" class="input-xlarge span5" ng-required>
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="technical_phone_number">Phone Number</label>
								<div class="controls">
									<input type="text" id="technical_phone_number" name="technical_phone_number" ng-model="company.technical_phone_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="technical_fax_number">Fax Number</label>
								<div class="controls">
									<input type="text" id="technical_fax_number" name="technical_fax_number" ng-model="company.technical_fax_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>
						</div>
					</form>
				</div>


				<div id="finan" class="span4" style="display:none">
					<h2>Contato Financeiro</h2>
					<form>
						<div class="grid-wrapper-6 first">
							<div class="control-group">
								<!-- First Name -->
								<label class="control-label" for="finance_first_name">First Name</label>
								<div class="controls">
									<input type="text" id="finance_first_name" name="finance_first_name" ng-model="company.finance_first_name" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Last Name -->
								<label class="control-label" for="finance_last_name">Last Name</label>
								<div class="controls">
									<input type="text" id="finance_last_name" name="finance_last_name" ng-model="company.finance_last_name" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Email -->
								<label class="control-label" for="finance_email">E-Mail</label>
								<div class="controls">
									<input type="email" id="finance_email" name="finance_email" ng-model="company.finance_email" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="finance_phone_number">Phone Number</label>
								<div class="controls">
									<input type="text" id="finance_phone_number" name="finance_phone_number" ng-model="company.finance_phone_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="finance_fax_number">Fax Number</label>
								<div class="controls">
									<input type="text" id="finance_fax_number" name="finance_fax_number" ng-model="company.finance_fax_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>
						</div>
					</form>
				</div>


				<div id="journ" class="span4" style="display:none">
					<h2>Contato Jornalismo</h2>
					<form>
						<div class="grid-wrapper-6 first">
							<div class="control-group">
								<!-- First Name -->
								<label class="control-label" for="journalism_first_name">First Name</label>
								<div class="controls">
									<input type="text" id="journalism_first_name" name="journalism_first_name" ng-model="company.journalism_first_name" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Last Name -->
								<label class="control-label" for="journalism_last_name">Last Name</label>
								<div class="controls">
									<input type="text" id="finance_last_name" name="journalism_last_name" ng-model="company.journalism_last_name" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Email -->
								<label class="control-label" for="journalism_email">E-Mail</label>
								<div class="controls">
									<input type="email" id="journalism_email" name="journalism_email" ng-model="company.journalism_email" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="journalism_phone_number">Phone Number</label>
								<div class="controls">
									<input type="text" id="journalism_phone_number" name="journalism_phone_number" ng-model="company.journalism_phone_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="journalism_fax_number">Fax Number</label>
								<div class="controls">
									<input type="text" id="journalism_fax_number" name="journalism_fax_number" ng-model="company.journalism_fax_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>
						</div>
					</form>
				</div>


				<div id="espor" class="span4" style="display:none">
					<h2>Contato Esporte</h2>
					<form>
						<div class="grid-wrapper-6 first">
							<div class="control-group">
								<!-- First Name -->
								<label class="control-label" for="sports_first_name">First Name</label>
								<div class="controls">
									<input type="text" id="sports_first_name" name="sports_first_name" ng-model="company.sports_first_name" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Last Name -->
								<label class="control-label" for="sports_last_name">Last Name</label>
								<div class="controls">
									<input type="text" id="sports_last_name" name="sports_last_name" ng-model="company.sports_last_name" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Email -->
								<label class="control-label" for="sports_email">E-Mail</label>
								<div class="controls">
									<input type="email" id="sports_email" name="sports_email" ng-model="company.sports_email" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="sports_phone_number">Phone Number</label>
								<div class="controls">
									<input type="text" id="sports_phone_number" name="sports_phone_number" ng-model="company.sports_phone_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>

							<div class="control-group">
								<!-- Phone Number -->
								<label class="control-label" for="sports_fax_number">Fax Number</label>
								<div class="controls">
									<input type="text" id="sports_fax_number" name="sports_fax_number" ng-model="company.sports_fax_number" placeholder="" class="input-xlarge span5">
								</div>
							</div>
						</div>
					</form>
				</div>


			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span10">
			<div class="control-group">
				<h3>Vincular Sub-Categoria</h3>
			</div>
			<nav class="company-menu">
				<ul>
					<li class="current_first hn">
						<a ng-click="selectedSubCat = ''">Hard News</a>
					</li>
					<li class="other cmp">
						<a ng-click="selectedSubCat = ''">Archive</a>
					</li>
					<li class="other arc">
						<a ng-click="selectedSubCat = ''">Compilations</a>
					</li>
				</ul>
			</nav>

			<div class="subcategories">
				<div id="hn" class="span4">
					<form>
						<div class="control-group">
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="companySubCat in companySubCats.hardnews">
										<!-- td><input type="checkbox" ></td-->
										<td>{{companySubCat.name}}</td>
										<td><a ng-click="removeSubcategories($index, 'hardnews')" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="control-group">
							<br />
							<label for="formName"><b>Adicionar novo</b></label>
							<hr />
							<input class="span4" type="text" ng-model="selectedSubCat" typeahead="subcategory as subcategory.name for subcategory in hardnews_cat | filter:$viewValue">

							<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat, 'hardnews')" >Adicionar</button>
						</div>
					</form>
				</div>

				<div id="comp" class="span4" style="display:none">
					<form>
						<div class="control-group">
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="companySubCat in companySubCats.archive">
										<!-- td><input type="checkbox" ></td-->
										<td>{{companySubCat.name}}</td>
										<td><a ng-click="removeSubcategories($index, 'archive')" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="control-group">
							<br />
							<label for="formName"><b>Adicionar novo</b></label>
							<hr />
							<input class="span4" type="text" ng-model="selectedSubCat" typeahead="subcategory as subcategory.name for subcategory in archive_cat | filter:$viewValue">

							<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat, 'archive')" >Adicionar</button>
						</div>
					</form>
				</div>

				<div id="arc" class="span4" style="display:none">
					<form>
						<div class="control-group">
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="companySubCat in companySubCats.compilations">
										<!-- td><input type="checkbox" ></td-->
										<td>{{companySubCat.name}}</td>
										<td><a ng-click="removeSubcategories($index, 'compilations')" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="control-group">
							<br />
							<label for="formName"><b>Adicionar novo</b></label>
							<hr />
							<input class="span4" type="text" ng-model="selectedSubCat" typeahead="subcategory as subcategory.name for subcategory in compilations_cat | filter:$viewValue">

							<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat, 'compilations')" >Adicionar</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="form-actions" style="display: table;width: 97%;">
	<div class="pull-right">
		<a type="button" class="btn btn-link cancel" href="#companies">Cancelar</a>
		<button  ng-disabled="!company.company_group_id || !company.name" type="button" ng-click="set(company)" class="btn btn-primary">Salvar</button>
	</div>
</div>
</section>
<script>
	(function(){
		$('nav.company-menu li.hn').click(function(){
			$('#hn').show();
			$(this).removeClass('other').addClass('current_first');
			$('.cmp').removeClass('current').addClass('other')
			$('.arc').removeClass('current').addClass('other')
			$('#comp').hide();
			$('#arc').hide();
		});
		$('nav.company-menu li.cmp').click(function(){
			$('#hn').hide();
			$('#comp').show();
			$(this).removeClass('other').addClass('current');
			$('.hn').removeClass('current_first').addClass('other');
			$('.arc').removeClass('current').addClass('other');
			$('#arc').hide();
		});
		$('nav.company-menu li.arc').click(function(){
			$(this).removeClass('other').addClass('current');
			$('.hn').removeClass('current_first').addClass('other')
			$('.cmp').removeClass('current').addClass('other')
			$('#hn').hide();
			$('#comp').hide();
			$('#arc').show();
		});

		$('nav.company-menu-contato li.tech').click(function(){
			$('#tech').show();
			$(this).removeClass('other').addClass('current_first');
			$('.finan').removeClass('current').addClass('other')
			$('.journ').removeClass('current').addClass('other')
			$('.espor').removeClass('current').addClass('other')
			$('#finan').hide();
			$('#journ').hide();
			$('#espor').hide();
		});

		$('nav.company-menu-contato li.finan').click(function(){
			$('#finan').show();
			$(this).removeClass('other').addClass('current');
			$('.tech').removeClass('current_first').addClass('other')
			$('.journ').removeClass('current').addClass('other')
			$('.espor').removeClass('current').addClass('other')
			$('#tech').hide();
			$('#journ').hide();
			$('#espor').hide();
		});

		$('nav.company-menu-contato li.journ').click(function(){
			$('#journ').show();
			$(this).removeClass('other').addClass('current');
			$('.tech').removeClass('current_first').addClass('other')
			$('.finan').removeClass('current').addClass('other')
			$('.espor').removeClass('current').addClass('other')
			$('#tech').hide();
			$('#finan').hide();
			$('#espor').hide();
		});

		$('nav.company-menu-contato li.espor').click(function(){
			$('#espor').show();
			$(this).removeClass('other').addClass('current');
			$('.tech').removeClass('current_first').addClass('other')
			$('.finan').removeClass('current').addClass('other')
			$('.journ').removeClass('current').addClass('other')
			$('#tech').hide();
			$('#finan').hide();
			$('#journ').hide();
		});

	})();
</script>