<nav class="company-menu"  ng-init="get();">
	<ul>
		<li class="other">
			<a href="#/groups">Pesquisar Grupos</a>
		</li>
		<li class="current">
			<a>Editar Grupo</a>
		</li>
	</ul>
</nav>
<section id="settings-sub-content" class="animated fadeIn">
	<div class="media">
		<div class="img-polaroid pull-left">
			<div class="media-object">
				<div id="upload-thumb">

				</div>
				<img src="http://sambavideos.sambatech.com/stylesheets/modules/img/placeholder-profile-thumbnail.png">
			</div>
		</div>
		<div class="media-body">
			<h2 ng-bind="form.name" class="media-heading">Developer 01</h2>
		</div>
	</div>
	<form style="display:table;">
		<div class="span4">
			<div class="control-group">
				<label><b>Nome</b></label>
				<input required name="groupName" ng-model='form.name' type="text" class="span4 input-large">
			</div>
		</div>
	</form>
	<hr>
	<div class="row">
		<div class="span10">
			<div class="control-group">
				<h3>Vincular Sub-Categoria</h3>
			</div>
			<nav class="company-menu">
				<ul>
					<li class="current_first hn">
						<a ng-click="selectedSubCat = ''">Hard News</a>
					</li>
					<li class="other cmp">
						<a ng-click="selectedSubCat = ''">Archive</a>
					</li>
					<li class="other arc">
						<a ng-click="selectedSubCat = ''">Compilations</a>
					</li>
				</ul>
			</nav>

			<div class="subcategories">
				<div id="hn" class="span4">
					<form>
						<div class="control-group">
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="groupSubCat in groupSubCats.hardnews">
										<!-- td><input type="checkbox" ></td-->
										<td>{{groupSubCat.name}}</td>
										<td><a ng-click="removeSubcategories($index, 'hardnews')" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="control-group">
							<br />
							<label for="formName"><b>Adicionar novo</b></label>
							<hr />
							<input class="span4" type="text" ng-model="selectedSubCat" typeahead="subcategory as subcategory.name for subcategory in hardnews_cat | filter:$viewValue">

							<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat, 'hardnews')" >Adicionar</button>
						</div>
					</form>
				</div>

				<div id="comp" class="span4" style="display:none">
					<form>
						<div class="control-group">
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="groupSubCat in groupSubCats.archive">
										<!-- td><input type="checkbox" ></td-->
										<td>{{groupSubCat.name}}</td>
										<td><a ng-click="removeSubcategories($index, 'archive')" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="control-group">
							<br />
							<label for="formName"><b>Adicionar novo</b></label>
							<hr />
							<input class="span4" type="text" ng-model="selectedSubCat" typeahead="subcategory as subcategory.name for subcategory in archive_cat | filter:$viewValue">

							<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat, 'archive')" >Adicionar</button>
						</div>
					</form>
				</div>

				<div id="arc" class="span4" style="display:none">
					<form>
						<div class="control-group">
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="groupSubCat in groupSubCats.compilations">
										<!-- td><input type="checkbox" ></td-->
										<td>{{groupSubCat.name}}</td>
										<td><a ng-click="removeSubcategories($index, 'compilations')" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="control-group">
							<br />
							<label for="formName"><b>Adicionar novo</b></label>
							<hr />
							<input class="span4" type="text" ng-model="selectedSubCat" typeahead="subcategory as subcategory.name for subcategory in compilations_cat | filter:$viewValue">

							<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat, 'compilations')" >Adicionar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="form-actions" style="display: table;width: 97%;">
			<div class="pull-right">
				<a href="#groups" type="button" class="btn btn-link cancel">Cancelar</a>
				<button ng-disabled="!form.name" type="button" ng-click="edit()" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</div>
</section>
<script>
	(function(){
		$('nav.company-menu li.hn').click(function(){
			$('#hn').show();
			$(this).removeClass('other').addClass('current_first');
			$('.cmp').removeClass('current').addClass('other')
			$('.arc').removeClass('current').addClass('other')
			$('#comp').hide();
			$('#arc').hide();
		});
		$('nav.company-menu li.cmp').click(function(){
			$('#hn').hide();
			$('#comp').show();
			$(this).removeClass('other').addClass('current');
			$('.hn').removeClass('current_first').addClass('other');
			$('.arc').removeClass('current').addClass('other');
			$('#arc').hide();
		});
		$('nav.company-menu li.arc').click(function(){
			$(this).removeClass('other').addClass('current');
			$('.hn').removeClass('current_first').addClass('other')
			$('.cmp').removeClass('current').addClass('other')
			$('#hn').hide();
			$('#comp').hide();
			$('#arc').show();
		});
	})();
</script>
