<nav class="admin-menu"  ng-init="getUser();">
	<ul>
		<li class="other">
			<a href="#/users">Pesquisar Usuários</a>
		</li>
		<li class="current">
			<a>Editar Usuário</a>
		</li>
	</ul>
</nav>

<section id="settings-sub-content" class="animated fadeIn">
	<div class="media">
		<div class="img-polaroid pull-left">
			<div class="media-object">
				<div id="upload-thumb">

				</div>
				<img src="http://sambavideos.sambatech.com/stylesheets/modules/img/placeholder-profile-thumbnail.png">
			</div>
		</div>
		<div class="media-body">
			<span class="label label-info">Usuário</span>
			<h2 class="media-heading">{{user.name}}</h2>
			<address>{{user.email}}</address>
		</div>

		<div class="control-group">

			<label class="checkbox">
		    	<input  id="pending" name="pending" type="checkbox" ng-model="user.pending"> 
		    	<span class="label label-important" ng-show="user.pending">Pendente</span>
		    	<span class="label label-success" ng-show="!user.pending">Aprovado</span>
		    </label>
		</div>

	</div>
	<form>
		<div class="span4">
			<div class="control-group">
				<label><b>Primeiro Nome</b></label>
				<input required name="userFirstName"  ng-model='user.first_name' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label><b>Último Nome</b></label>
				<input required name="userLastName"  ng-model='user.last_name' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label><b>Cargo</b></label>
				<input required name="job_title"  ng-model='user.job_title' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label><b>Empresa</b></label>
				<select class="span4" ng-model="user.company_id" ng-init="getCompanies()" ng-options="c.id as c.name for c in companies">
				</select>
			</div>

			<div class="control-group">
				<label for="formName"><b>E-Mail</b></label>
				<input required id="formName" ng-model='user.email' type="text" class="span4 input-large">
			</div>
			
		</div>
		
		<div class="span4">
			<div class="control-group">
				<label for="phone_number"><b>Telefone</b></label>
				<input required id="phone_number" ng-model='user.phone_number' type="text" class="span4 input-large">
			</div>

			<div class="control-group">
				<label for="fax_number"><b>Fax</b></label>
				<input required id="fax_number" ng-model='user.fax_number' type="text" class="span4 input-large">
			</div>
			
			<div class="control-group">
				<label><b>Senha</b></label>
				<input required name="password" id="new_password"  type="password" class="span4 input-large" ng-model='user.pass'>
			</div>
			<div class="control-group">
				<label><b>Confirmar senha</b></label>
				<input required type="password" class="span4 input-large" name="repeatPassword" ng-model='user.pass' >
			</div>
		</div>
		<div class="form-actions" style="display: table;width: 97%;">
			<div class="pull-right">
				<a type="button" class="btn btn-link cancel" href="#users">Cancelar</a>
				<button type="button" ng-click="editUser(user)" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</form>
</section>
