<section>
	<div class="row">
		<div class="span12">
			<div class="media">
				<div class="img-polaroid pull-left" style="margin-left:5px; width:190px; margin-top:20px;">
					<div class="media-object">
						<div id="upload-thumb">

						</div>
						<img ng-src="{{content.thumb_small_url}}"  width="190" alt="">
					</div>
				</div>
				<div class="media-body">
					<span class="label label-info">
						Tipo de Vídeo:
						<span ng-show="content.category_id == config.sambavideos.categories.hardnews_id">Hard News</span>
						<span ng-show="content.category_id == config.sambavideos.categories.archive_id">Archive</span>
						<span ng-show="content.category_id == config.sambavideos.categories.compilations_id">Compilation</span>
					</span>
					<h2 class="media-heading">{{content.descriptions.pt.title}}</h2>
					<small><strong>Nome do Arquivo: </strong>{{content.file_name}}</small><br>
					<small><strong>Duração: </strong>{{calcVideoDuration(content.duration)}}</small><br>
					<small><strong>Tamanho do arquivo: </strong> {{(content.file_size /(1000*1000*1000)/ 8).toFixed(1)}} MB</small><br/>
					<small><strong>Aspect:</strong>
						<span ng-show="content.aspect == 1">16:9</span>
						<span ng-show="content.aspect == 2">4:3</span>
					</small>

					<small><strong>Formato:</strong>
						<span ng-show="content.aspect == 1">HD</span>
						<span ng-show="content.aspect == 2">SD</span>
					</small>
					<br>
					<label class="checkbox">
						<input  id="published" name="published" type="checkbox" ng-model="content.published"> 
						<span class="label label-success" ng-show="content.published">Ativo</span>
						<span class="label" ng-show="!content.published">Inativo</span>
				    </label>
				</div>
			</div>
			<div class="content">
				<div class="grid-wrapper-5 first">
					<div class="control-group">
						<div class="control-group">
							<h3 class="inline_block">Conteúdo Público:</h3>
							<label class="checkbox" style="margin-bottom:0">
								<input type="checkbox" ng-model="content.public">
								<span ng-show="!content.public" > Não </span>
								<span ng-show="content.public" > Sim </span>
							</label>
						</div>

						<!--div class="control-group">
							<label for="keywords"><strong>Palavras Chave:</strong></label>
							<input type="text" name="keywords" id="keywords" ng-model="content.keywords">
						-->
							<!--
							<tags
							data-options="{
								templateUrl: '/bower_components/angular-tags/dist/templates/tags.html',
								tagTemplateUrl: '/bower_components/angular-tags/dist/templates/tag.html',
								addable: true
							}" data-model="content.keywords">							
							</tags>
							-->
						<!--
						</div>
						-->
						
						<div class="control-group">
							<label for="publish_date"><strong>Data de publicação:</strong></label>
							<div class="input-append">
								<input style="width: 180px;" readonly="readonly" name="publish_date" id="publish_date" type="text" value="" ng-model="publishDateView"><span class="add-on"><i class="icon-calendar"></i></span>
							</div>
							<label for="capture_date"><strong>Data de captação:</strong></label>
							<div class="input-append">

								<input style="width: 180px;" ng-model="captureDateView" required  name="capture_date" id="capture_date" type="text" value=""><span class="add-on"><i class="icon-calendar"></i></span>
							</div>
						</div>

						<div class="control-group">
							<label for="use_rights"><strong>Restrições de Uso:</strong></label>
							<input type="text" name="use_rights" id="use_rights" ng-model="content.use_rights">
						</div>
						<!--
						<div class="control-group">
							<label for="keywords"><strong>Localização</strong></label>
							<input type="text" name="location" id="location" ng-model="content.location">
						</div>
						-->

					</div>
				</div>


				<div class="grid-wrapper-5">
					<section>
						<div class="span5">
							<div class="control-group">
								<h3>Tipo de Vídeo</h3>
							</div>
							<div class="control-group">
								<select required ng-model="content.category_id" ng-options="category.id as category.name for category in categories" ng-change="changeCategory(content.category_id)">
									<option value="">Selecionar</option>
								</select>
							</div>
						</div>
					</section>

					<!-- SECTION CATEGORY -->
					<section>
						<div class="span5">
							<div class="control-group">
								<h3>Categoria</h3>
							</div>
							<div class="control-group">
								<table class="table table-condensed table-hover">
								  <tbody>
									<tr ng-repeat="contentSubCat in contentSubCats">
										<!-- td><input type="checkbox" ></td-->
										<td>{{contentSubCat.name}}</td>
										<td><a ng-click="removeSubcategories($index)" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								  </tbody>
								</table>
							</div>

							<div class="control-group content-section-holder">
								<br />
								<label for="formName"><b>Adicionar novo</b></label>
								<hr />
								<input type="text" ng-model="selectedSubCat" typeahead="subcategory.name for subcategory in subcategories | filter:$viewValue | limitTo:10">
								<button class="btn pull-right" type="button" ng-click="pushSubcategories(selectedSubCat)" >Adicionar</button>
							</div>

						</div>
					</section>

					<!-- SECURITYGROUPS -->
					<section>
						<div class="span5">
							<div class="control-group">
								<h3>Empresas e Grupos</h3>
							</div>
							<div class="control-group">
								<table class="table table-condensed table-hover">
								  <tbody>
									<tr ng-repeat="contentSecGroup in contentSecGroups">
										<!-- td><input type="checkbox" ></td-->
										<td>{{contentSecGroup.name}}</td>
										<td><a ng-click="removeSecGroup($index)" style="cursor : pointer"><span class="label  pull-right" >excluir</span></a></td>
									</tr>
								  </tbody>
								</table>
							</div>

							<div class="control-group content-section-holder">
								<br />
								<label for="formName"><b>Adicionar novo</b></label>
								<hr />
								<input type="text" ng-model="selectedSecGroup" typeahead="securitygroup.name for securitygroup in securitygroups | filter:$viewValue | limitTo:20 ">
								<button class="btn pull-right" type="button" ng-click="pushSecGroup(selectedSecGroup)" >Adicionar</button>
							</div>

						</div>

					</section>

				</div>


				<div class="tab_lang" style="display: table; width: 100%;">
					<ul class="nav nav-tabs">
						<li ng-click="page='pt_BR'" class="active"><a href="#pt" data-toggle="tab"><img class="flag flag-br" /> Português</a></li>
						<li ng-click="page='en_US'"><a href="#en" data-toggle="tab"><img class="flag flag-us" /> English</a></li>
					</ul>
				</div>

				<div class="langs" ng-switch on="page">
					<div class="control-group">
						<div ng-switch-when="en_US">
							<div class="control-group">
								<h3>Informations:</h3>
							</div>
							<div class="grid-wrapper-5 first">
								<div class="control-group">
									<label for="title_en"><strong>Title:</strong></label>
									<input required ng-model="content.descriptions.en.title" type="text" name="title_en" id="title_en">
								</div>
								
								<div class="control-group">
									<label for="description_en"><strong>Description:</strong></label>
									<textarea required ng-model="content.descriptions.en.description" name="description_en" id="description_en" cols="30" rows="10"></textarea>
								</div>
								
							</div>
							<div class="grid-wrapper-5">
								<!--<div class="control-group">
									<label for="file_name"><strong>Nome do arquivo:</strong></label>
									<input ng-model="content.descriptions.en.file_name" id="file_name_en" name="file_name_en" type="text">
								</div>-->
								<div class="control-group">
									<label for="headline_en"><strong>Headline:</strong></label>
									<input required ng-model="content.descriptions.en.headline" type="text" name="headline_en" id="headline_en">
									<input type="hidden" name="lang_en" id="lang_en" ng-model="content.descriptions.en.lang" value="en">
								</div>
							</div>
						</div>
						<div ng-switch-when="pt_BR" >
							<div class="control-group">
								<h3>Informações:</h3>
							</div>
							<div class="grid-wrapper-5 first">
								<div class="control-group">
									<label for="title_en"><strong>Titulo:</strong></label>
									<input required ng-model="content.descriptions.pt.title" type="text" name="title_en" id="title_en">
								</div>
								
								<div class="control-group">
									<label for="description_en"><strong>Descrição:</strong></label>
									<textarea required ng-model="content.descriptions.pt.description" name="description_en" id="description_en" cols="30" rows="10"></textarea>
								</div>
								
							</div>
							<div class="grid-wrapper-5">
								<!--<div class="control-group">
									<label for="file_name"><strong>Nome do arquivo:</strong></label>
									<input ng-model="content.descriptions.en.file_name" id="file_name_en" name="file_name_en" type="text">
								</div>-->
								<div class="control-group">
									<label for="headline_en"><strong>História:</strong></label>
									<input required ng-model="content.descriptions.pt.headline" type="text" name="headline_en" id="headline_en">
									<input  name="lang_pt" id="lang_pt"  type="hidden" ng-model="content.descriptions.pt.lang" value="pt">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions" style="padding-right: 20px;">
					<div class="pull-right save">
						<a href="javascript: history.go(-1)" class="btn btn-link" name="cancel">Cancelar</a>
						<button ng-disabled="!content.category_id || !content.descriptions.en.title || !content.descriptions.en.description || !content.descriptions.en.headline || !content.descriptions.pt.title || !content.descriptions.pt.description || !content.descriptions.pt.headline" type="button" class="btn btn-primary" name="add" ng-click="save(content)">Salvar alterações</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>

	(function(){
		$('#capture_date').datepicker({
			language: 'pt-BR',
		    format: 'dd/mm/yyyy'
		}).on('changeDate', function(ev) {
  			var scope = $('body').scope().$$childTail;
  			scope.content.capture_date = ev.timeStamp;
  			scope.$apply();
		});
	})();

</script>
