<section class="hbox stretch" id="userapp">
	<aside>
		<section class="vbox">
			<header class="header bg-light lter bg-gradient b-b">
				<p>New User</p>
			</header>
		</section>
	</aside>
</section>
<br>
<br>
<br>
<form class="form-horizontal" method="get" data-validate="parsley">
	<div class="form-group">
		<div class="col-sm-4"> 
			<input ng-model="form.email" type="text" name="email" placeholder="Email" class="bg-focus form-control parsley-validated" data-required="true"> 
		</div> 
	</div> 
	<div class="form-group">
		<div class="col-sm-4">
			<input ng-model="form.username" type="text" name="username" placeholder="Username" class="bg-focus form-control parsley-validated" data-required="true"> 
		</div> 
	</div> 
	<div class="form-group">
		<div class="col-sm-4">
			<input ng-model="form.password" type="text" name="password" placeholder="Password" class="bg-focus form-control parsley-validated" data-required="true"> 
		</div> 
	</div> 
	<div class="form-group">
		<div class="col-sm-4">
			<input ng-model="form.confirmpassword" type="text" name="confirmpassword" placeholder="Confirm Password" class="bg-focus form-control parsley-validated" data-required="true"> 
		</div> 
	</div>
	<div class="form-group">
		<div class="col-sm-4">
			<label>
				<input id="input_tos_agreement" type="checkbox" name="tos_agreement" value="1"> I agree to the <a href="#" title="Terms of Service">Terms of Service</a>
			</label>
		</div> 
	</div>

	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-3">
			<button ng-click="add(form)" class="btn btn-primary">Create Account</button>
			<button type="submit" class="btn btn-white">Already have an account? Login here</button>
		</div> 
	</div> 
</form>