<!DOCTYPE html>
<html lang="en" ng-app="nsApp">
	<head> 
		<meta charset="utf-8"> 
		<title>Arrange</title> 
		<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
		<link rel="stylesheet" href="css/app.v1.css"> 
		<link rel="stylesheet" href="css/font.css" cache="false"> 
		<!--[if lt IE 9]> <script src="js/ie/respond.min.js" cache="false"></script> <script src="js/ie/html5.js" cache="false"></script> <script src="js/ie/fix.js" cache="false"></script> <![endif]-->
	</head>
	<body ng-controller="AppCtrl">

		<section id="content" class="m-t-lg wrapper-md animated fadeInUp"> 
			<a class="nav-brand" href="#/">Arrange</a> 

			<div class="row m-n"> 
				<div class="col-md-4 col-md-offset-4 m-t-lg"> 
					<section class="panel"> 
						<header class="panel-heading text-center"> Forgot your password? </header> 
						
						<form class="panel-body" method="post" data-validate="parsley">
							<p class="text-muted text-center">Enter your email to reset your password.</p>
							<div class="form-group"> 
								<label class="control-label">Email</label> 
								<input ng-model="form.email" type="email" placeholder="test@example.com" class="form-control"> 
							</div>
							<button ng-click="forgot_password(form)" class="btn btn-info">Reset Password</button> 
														
							<div class="line line-dashed"></div> 
							
							<p class="text-muted text-center"><small>or</small></p> 
							
							<a href="#/users/singin" class="btn btn-white btn-block">Return to Sign in</a> 
						
						</form> 
					</section> 
				</div> 
			</div> 
		</section> 

		<!-- footer --> 
		<footer id="footer"> 
			<div class="text-center padder clearfix"> 
				<p> <small>Mobile first web app framework base on Bootstrap<br>&copy; 2013</small> </p> 
			</div> 
		</footer> 
		<!-- / footer -->
	
		<script src="css/app.v1.js"></script> 
		<!-- Bootstrap --> 

		<!-- app --> 
	</body>
</html>
