<section class="vbox">
    <header class="header bg-white b-b">
        <p>Welcome to {{user.name}} profile</p>
    </header>
    <section class="scrollable">
        <section class="hbox stretch">
            <aside class="aside-lg bg-light lter b-r">
                <section class="vbox">
                    <section class="scrollable">
                        <div class="wrapper">
                            <div class="clearfix m-b">
                                <a href="#" class="pull-left thumb m-r">
                                    <img src="{{ imagem_gravatar }}" class="img-circle">
                                </a>
                                <div class="clear">
                                    <div class="h3 m-t-xs m-b-xs">{{user.name}}</div> 
                                    <small class="text-muted">{{user.email}}</small> 
                                </div>
                            </div>
                            <div style="display:none;" class="panel wrapper">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a href="#"> <span class="m-b-xs h4 block">245</span>  <small class="text-muted">Followers</small> 
                                        </a>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="#"> <span class="m-b-xs h4 block">55</span>  <small class="text-muted">Following</small> 
                                        </a>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="#"> <span class="m-b-xs h4 block">2,035</span>  <small class="text-muted">Tweets</small> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div style="display:none;" class="btn-group btn-group-justified m-b">
                                <a class="btn btn-success btn-rounded" data-toggle="button"> <span class="text"> <i class="icon-eye-open"></i> Follow </span>  <span class="text-active"> <i class="icon-eye-open"></i> Following </span> 
                                </a>
                                <a class="btn btn-info btn-rounded"> <i class="icon-comment-alt"></i> Chat</a>
                            </div>
                            <div> <small class="text-uc text-xs text-muted">Position</small> 
                                <p>{{description_position}}</p> <small class="text-uc text-xs text-muted">about me</small> 
                                <p>{{user.aboutme}}</p>
                                <div class="line"></div> <small class="text-uc text-xs text-muted">connection</small> 
                                <p class="m-t-sm"> <a href="#" class="btn btn-rounded btn-twitter btn-icon"><i class="icon-twitter"></i></a>  <a href="#" class="btn btn-rounded btn-facebook btn-icon"><i class="icon-facebook"></i></a> 
                                    <a href="#" class="btn btn-rounded btn-gplus btn-icon"><i class="icon-google-plus"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </section>
                </section>
            </aside>
            <aside class="bg-white">
                <section class="vbox">
                    <header class="header bg-light bg-gradient">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#basic" data-toggle="tab">Meus Dados</a>
                            </li>
                        </ul>
                    </header>
                    <section class="scrollable" ng-init="initAccount()">
                        <div class="tab-content">
                            <section class="tab-pane active" id="basic">
                                <form class="form-horizontal" method="get" data-validate="parsley">
                                    <div class="form-group m-t-lg">
                                        <label class="col-sm-3 control-label">Photo</label>
                                        <div class="col-sm-4 media m-t-none">
                                            <div class="bg-light pull-left text-center media-lg thumb-lg padder-v"><i class="icon-user inline icon-light icon-3x m-t-lg m-b-lg"></i>
                                            </div>
                                            <div class="media-body">
                                                <input type="file" name="file" title="Change" class="btn btn-sm btn-info m-b-sm">
                                                <br>
                                                <button class="btn btn-sm btn-default">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-4">
                                            <input ng-model="form.name" type="text" disabled="true" name="email" placeholder="{{user.email}}" class="bg-focus form-control" data-required="true" data-type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password</label>
                                        <div class="col-sm-4">
                                            <input ng-model="form.password" type="password" name="password" placeholder="Password" class="bg-focus form-control" value="{{user.password}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Confirm New Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" name="confirmpassword" placeholder="Password" class="bg-focus form-control">
                                            <div class="line line-dashed m-t-lg"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-4">
                                            <input ng-model="form.name" type="text" name="username" placeholder="Name" data-required="true" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Position</label>
                                        <div class="col-sm-4">
                                            <select ng-model="form.position" name="account" class="form-control">
                                                <option value="programmer">Programmer</option>
                                                <option value="scrummaster">Scrum Master</option>
                                                <option value="tester">Tester</option>
                                                <option value="productowner">Product Owner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Profile</label>
                                        <div class="col-sm-5">
                                            <textarea ng-model="form.aboutme" placeholder="Profile" rows="5" data-trigger="keyup" data-rangelength="[20,200]" class="form-control"></textarea>
                                            <div style="display:none;" class="checkbox">
                                                <label>
                                                    <input name="agree" type="checkbox">Agree the <a href="#">terms and policy</a> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-3">
                                            <button type="submit" class="btn btn-white">Cancel</button>
                                            <button ng-click="updateUser()" type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </section>
                </section>
            </aside>
        </section>
    </section>
</section>